<div class='container'>
    <div class='about-content'>
        <div>
            <h1>About</h1>
            <p>This project is a part of 🇺🇦PRJCTR — Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO. </p>
            <p> You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page: </p>
            <div class='about-logo-block'>
                <img src="/src/assets/prjctr-logo.svg">
                <img src="/src/assets/product-hunt-logo.svg" >
            </div>
        </div>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json" background="transparent" speed="1" loop autoplay></lottie-player>
    </div>
</div>